.promo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  border-radius: 20px;
   background-color: #D3322A;
  flex-wrap: wrap; /* makes it responsive */
  margin-top: 30px;
}

.promo-content {
  flex: 1 1 300px;
  text-align: left;
}

.promo-content h2 {
  font-size: clamp(2.3rem, 3vw , 4rem);
  margin-bottom: 1rem;
  letter-spacing: -2px;
  color: #fff;
}

.promo-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
   font-size: clamp(1.3rem, 2vw , 3rem);
  color: #fff;
}

.promo-btn {
  display: inline-block;
  background: #fff;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  color: #b32b24;
  margin-top: 80px;
}



.promo-image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.promo-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
}


/* Tablet */
@media (max-width: 1024px) {
  .promo-section {
    padding: 2.5rem 1.5rem;
    gap: 1.5rem;
  }

  .promo-content p {
    margin-bottom: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .promo-section {
    flex-direction: column;
    text-align: center;
  }

  .promo-content {
    text-align: center;
  }

  .promo-btn {
    margin-top: 1.5rem;
  }

  .promo-image img {
    max-width: 480px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .promo-section {
    padding: 2rem 1rem;
  }

  .promo-content h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .promo-content p {
    font-size: clamp(0.9rem, 4vw, 1.3rem);
  }

  .promo-btn {
 
    padding: 0.9rem 2rem;
    font-size: .8rem;
  }

  .promo-image img {
    max-width: 400px;
  }
}
