.hero{

   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .text-content{
        text-align: center;

        h1{

            font-size: clamp(2rem , 10vw ,15rem);
            letter-spacing: -2px;
        }
    }

    .image-container-and-subtext{
    margin-top:-100px ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
     
          
         
   .image-container{
     
    height: 700px;
     width: 100%;
     max-width: 700px;
     align-items: center;
     display: flex;
     justify-content: center;
    aspect-ratio: 3/7;
     

    img{
        object-fit:cover;
        width: 100%;
        height: auto;
        object-position: 0 10%;
      
    
   }

 
}
p {
  font-weight: 100;
  font-size: clamp(1.2rem ,3vw , 2rem);
  font-style: italic;


}

 .subtext-skills{
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;
          gap: 100px;
          

          p{
              font-size: clamp(1.2rem ,3vw , 2.4rem);
              text-transform: uppercase;
              letter-spacing: -2px;
          }

          ul{

          
            display: flex;
            flex-direction: column;
            margin-right: auto;
            gap: 4px;
            padding: 1rem;
            margin-top: -10px;

            li{
                list-style: none;
                font-size: clamp(1.2rem ,2vw , 1.5rem);
                text-transform: capitalize;
                font-style: italic;
                letter-spacing: -1px;
            }
          }
          
          
        }
       
    }
}

